
<div class="mi-componente-fondo min-h-screen flex items-center justify-center">
  <div id="text" class="text-center">
    <!-- Número 404 con la moneda como "0" -->
    <div class="number flex items-center justify-center text-[12rem] font-extrabold text-gray-800 animate-elevator">
      <h1>4</h1>
      <div class="imagen mx-6">
        <!-- Imagen de la moneda -->
        <img
          src="../../../assets/moneda.png"
          alt="Moneda"
          class="w-40 h-40 object-contain animate-elevator"
        />
      </div>
      <h1>4</h1>
    </div>

    <!-- Mensaje de advertencia -->
    <div id="warning" class="mt-8">
      <h1 class="text-[3rem] font-bold text-gray-800">ERROR</h1>
      <h2 class=" text-[2rem] text-gray-600 font-medium mt-2">

      </h2>
      <!-- Botón para regresar al inicio -->
      <a
        href="/"
        class="mt-12 inline-block px-10 py-3 bg-gray-800 text-white rounded-lg shadow-lg hover:bg-white hover:text-gray-800 hover:shadow transition">
        Go home
      </a>
    </div>
  </div>
</div>
