

<div  id="text">

  <div class="number">
    <h1 class=" font-extrabold text-gray-800">4</h1>
    <div class="imagen"></div>
    <h1 class="font-extrabold text-gray-800">4</h1>
  </div>

  <div id="warning">
    <h1 class="text-2xl font-bold text-gray-800 mt-4">Página no encontrada</h1>
    <h2 class="text-gray-800 font-medium mt-2">Lo sentimos, la página que buscas no existe o ha sido movida.</h2>
    <a href="/" class="mt-6 inline-block px-6 py-3 bg-primaryBlue text-white px-10 py-3 rounded hover:bg-white hover:text-primaryBlue">Volver al inicio</a>
  </div>

</div>
