<div class="relative w-64 flex mr-10">
    <input
      type="number"
      [(ngModel)]="amount"
      class="flex-grow px-4 py-2 rounded-l-md text-black bg-white outline-none border-0 shadow-md"
      placeholder="0.00"
      (input)="onAmountChange()"
    />
    <button
      (click)="toggleDropdown()"
      class="flex items-center px-4 py-2 bg-blue-900 text-white rounded-r-md focus:outline-none"
    >
      <span class="mr-1">{{ selectedCurrency.symbol }}</span>
      <span class="text-sm">{{ selectedCurrency.code }}</span>
      <span class="ml-2">&#9662;</span>
    </button>
  
    <div
      *ngIf="dropdownOpen"
      class="absolute top-full right-0 mt-1 w-32 bg-blue-900 text-white rounded-md shadow-lg z-10"
    >
      <ul class="py-2">
        <li
          *ngFor="let currency of currencies"
          (click)="selectCurrency(currency)"
          class="flex items-center px-4 py-2 cursor-pointer hover:bg-blue-700"
        >
          <span class="mr-2">{{ currency.symbol }}</span>
          <span>{{ currency.code }}</span>
          <span *ngIf="currency.code === selectedCurrency.code" class="ml-auto">&#10003;</span>
        </li>
      </ul>
    </div>
  </div>
  