<div class="text-center text-3xl text-blue-500">

</div>



<!-- Hero Section -->
<section class="bg-white-100 py-20">
  <div class="container mx-auto px-4 text-center">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">Welcome to our coins converter</h1>
    <p class="text-lg text-gray-600 mb-6">Discover all about our services and advantages with the best converter</p>
    <a href="#" class="bg-primaryBlue text-white px-10 py-3 rounded hover:bg-white hover:text-primaryBlue">Contact us</a>
  </div>
</section>

<section class="py-16">
  <div class="container mx-auto px-4">
    <div class="text-center mb-10">
      <h3 class="text-3xl font-semibold text-gray-800">Our characteristics</h3>
      <p class="text-gray-600">what make us unique</p>
    </div>


    <div class="grid md:grid-cols-3 gap-8">
      <!-- Feature 1 -->
      <div id="clase1" class="p-6 shadow-lg bg-primaryBlue rounded">
        <h4 class="text-2xl font-semibold text-white mb-2">Quality</h4>
        <p class="text-white">We offer you the best quality products to guarantee your satisfaction.</p>
      </div>
      <!-- Feature 2 -->
      <div id="clase2" class="p-6 shadow-lg bg-primaryBlue rounded">
        <h4 class="text-2xl font-semibold text-white mb-2">Support</h4>
        <p class="text-white">Our support team will always be there to help you.</p>
      </div>
      <!-- Feature 3 -->
      <div id="clase3" class="p-6 shadow-lg bg-primaryBlue rounded">
        <h4 class="text-2xl font-semibold text-white mb-2">Innovation</h4>
        <p class="text-white">We work constantly to bring new solutions to our customers.</p>
      </div>

    </div>

  </div>
</section>



