<div class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-md font-regularb my-10">
  <h2 class="text-2xl font-semibold text-gray-700 mb-4">User register</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <!-- Nombre -->
    <div class="mb-4">
      <label for="name" class="block text-sm font-medium">Name</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>

    <!-- Apellido -->
    <div class="mb-4">
      <label for="lastName" class="block text-sm font-medium">Surname</label>
      <input
        id="lastName"
        formControlName="lastName"
        type="text"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>

    <!-- Correo electrónico -->
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium">Email</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
<!--    Contraseña-->
    <div class="mb-4">
      <label for="password" class="block text-sm font-medium">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>

    <!-- Fecha de Nacimiento -->
    <div class="mb-4">
      <label for="fechaNacimiento" class="block text-sm font-medium ">Birthdate</label>
      <input
        id="fechaNacimiento"
        formControlName="fechaNacimiento"
        type="date"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>



    <!-- Imagen -->
    <div class="mb-4">
      <label for="img" class="block text-sm font-medium">Image (optional)</label>
      <input
        id="img"
        formControlName="img"
        type="file"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>

    <!-- Botón de Enviar -->
    <div class="mt-6 flex justify-center">
      <button
        type="submit"
        class="bg-primaryRed text-white p-2 rounded hover:bg-red-900 font-regularb font-bold px-5"
      >
        Register User
      </button>
    </div>
   
  </form>
</div>
<!-- <div class="bg-primaryBlue fixed top-0 right-0 h-full w-1/4 z-50"></div> -->
