

<div class="overflow-x-auto px-4 py-6">
  <table *ngIf="historyData.length > 0" class="w-[90%] max-w-6xl mx-auto bg-white border border-gray-300 rounded-lg shadow-lg">
    <thead>
    <tr>
      <th class="py-2 px-4 border-b text-left text-gray-600 font-semibold bg-yellow-100">Dinero Cambiado</th>
      <th class="py-2 px-4 border-b text-left text-gray-600 font-semibold bg-yellow-100">Cantidad Obtenida</th>
      <th class="py-2 px-6 border-b text-left text-gray-600 font-semibold bg-yellow-100">Fecha</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of historyData;" class="hover:bg-gray-100 odd:bg-blue-100 even:bg-blue-50">
      <td class="py-2 px-4 border-b">{{ item.fromAmount }} {{ item.fromCoin }}</td>
      <td class="py-2 px-4 border-b">{{ item.toAmount }} {{ item.toCoin }}</td>
      <td class="py-2 px-4 border-b">{{ item.date | date:'yyyy-MM-dd HH:mm' }}</td>
      <button (click)="deleteHistory(item.id)" class="bg-red-700">Borrar Historial</button>
    </tr>
    </tbody>
  </table>
<!--  <div>-->
<!--    <button (click)="deleteHistory()" class="bg-red-700">Borrar Historial</button>-->
<!--  </div>-->

  <p *ngIf="historyData.length === 0" class="text-center text-gray-500">No se ha realizado ninguna conversión.</p>
</div>



